[submodule "contracts/musl/upstream"]
	path = contracts/musl/upstream
	url = https://github.com/EOSIO/musl.git
	branch = eosio
[submodule "contracts/libc++/upstream"]
	path = contracts/libc++/upstream
	url = https://github.com/EOSIO/libcxx.git
	branch = eosio
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/eosio/berkeley-softfloat-3
[submodule "externals/magic_get"]
	path = externals/magic_get
	url = https://github.com/EOSIO/magic_get
[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/JaminChan/fc
[submodule "externals/binaryen"]
	path = externals/binaryen
	url = https://github.com/JaminChan/binaryen
